body.personagens{
    .lista-guerreiros{
        li{
            display: inline-block;
            vertical-align: top;
            width: 180px;
            height: 320px;
            margin: 0 10px 20px 10px;
            padding: 10px;
            background: #1C1A1A;
            cursor: pointer;
            @include box-sizing(border-box);
            &.inativo{
                background: #7f0000;
            }
            &:hover{
                @include opacity(.9);
            }
            img{
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }
            h3{
                display: block;
                margin-bottom: 10px;
                color: #FFF;
            }
            span{
                display: block;
                text-transform: uppercase;
                font-size: 12px;
                background: #0A0909;
                color: #10B700;
                padding: 5px;
                @include box-sizing(border-box);
                &.hp, &.energia{
                    background: #262525;
                }
                strong{
                    text-align: left;
                    padding-right: 10px;
                    color: #FFF;
                }
            }
        }
    }
}

.delete-button{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    background: #b20000;
    color: #FFF;
    text-transform: uppercase;
    margin: 0 5px 10px 5px;
    @include transition(all ease .2s);
    @include border-radius(10px);
    &:hover{
        background: #1C1A1A;
    }
}