body.amigos{
    .lista-amigos{
        width: 100%;
        border-collapse: collapse;
        thead{
            tr{
                th{
                    background: #07303F;
                    color: #FFF;
                    font-size: 12px;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }
        tbody{
            tr{
                &.top-player{
                    background: #DFF0D8;
                    color: #3c763d;
                }
                td{
                    text-align: center;
                    font-size: 14px;
                    a{
                        color: #000;
                    }
                    &.planeta{
                        img{
                            width: 37px;
                        }
                    }
                    img{
                        display: block;
                        width: 80px;
                        margin: 0 auto;
                    }
                }
            }
        }
        tr:hover {background-color: #f5f5f5;}
        tr:nth-child(even) {background-color: #f2f2f2;}
        th{
            padding: 3px 15px;
            text-align: left;
        }
        td{
            padding: 3px 0;
            text-align: left;
        }
        th,{
            padding: 15px;
        }
    }
}