.pub-01{
    width: 936px;
    text-align: center;
    margin: 0 auto 10px auto;
}

.pub-02{
    text-align: center;
    margin-bottom: 10px;
}

.pub-03{
    text-align: center;
    margin: 0 auto 10px auto;
}