@media (max-width: 1024px) {
    body.troca-guerreiro{
        .conteudo{
            background: #1C1A1A;
            .title{
                color: #FFF;
                font-size: 20px;
            }
            .item-personagem{
                width: 47%;
                margin: 0 2.5px 5px 2.5px;
            }
            .btn-confirmar{
                display: block;
                width: 100%;
                margin: 10px 0 0 0;
                font-size: 18px;
                line-height: 45px;
                @include border-radius(0);
                @include box-sizing(border-box);
            }
        }
    }
}