body.sobre{
    h2{
        display: block;
        color: #FFF;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        margin: 20px 0;
    }
    h3{
        display: block;
        color: #ff0;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 10px 0;
    }
    .secao-sobre{
        margin: 20px 0;
        .stm-container{
            padding: 20px;
            background-color: rgba(0,0,0,0.2);
            @include box-sizing(border-box);
        }
        img{
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }
        p{
            display: block;
            color: #FFF;
            margin: 0 0 10px 0;
            line-height: 26px;
        }
    }
    .secao-dbz{
        margin: 20px 0;
        .stm-container{
            padding: 20px;
            background-color: rgba(0,0,0,0.2);
            @include box-sizing(border-box);
        }
        img{
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }
        p{
            display: block;
            color: #FFF;
            margin: 0 0 10px 0;
            line-height: 26px;
        }
    }
}